
data/weather/rr.csv
data/weather/air_temp/air_temp2000
data/weather/air_temp/air_temp2001
data/weather/air_temp/air_temp2003
data/weather/air_temp/air_temp2002
data/weather/air_temp/air_temp2004
data/weather/air_temp/air_temp2005
data/weather/air_temp/air_temp2007
data/weather/air_temp/air_temp2006
data/weather/air_temp/air_temp2008
data/weather/air_temp/air_temp2009
data/weather/weather_data.csv
data/weather/air_temp/air_temp2010
